In [131]:
# COMMON IMPORTS

import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException 
import numpy as np
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: \
A)Rank \
B) Name \
C) Artist \
D) Upload date \
E) Views

In [132]:
# setting up the web driver
driver=webdriver.Chrome()
# setting up the url
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

# Scraping the table
row_tags=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td")[:180]

data=[]
for i in row_tags:
    data.append(i.text.strip())

# Rank of Video   
for i in range(0,len(data),6):
    rank.append(data[i])

# Name of the video
for i in range(1,len(data),6):
     name.append(data[i])

# Name of the Youtuber
for i in range(2,len(data),6):
     artist.append(data[i])

# Views on the video
for i in range(3,len(data),6):
     views.append(data[i])

# Upload date of the video
for i in range(4,len(data),6):
     upload_date.append(data[i])

driver.close()

# DataFrame     
df=pd.DataFrame({"Rank":rank,"Video Name":name,"Artist":artist,"Views":views,"Date of Upload":upload_date})
df.set_index("Rank",inplace=True)
df

,Video Name,Artist,Views,Date of Upload
Rank,,,,
1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.65,"June 17, 2016"
2.,"""Despacito""[9]",Luis Fonsi,8.32,"January 12, 2017"
3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.84,"October 8, 2016"
4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.50,"May 2, 2018"
5.,"""Shape of You""[19]",Ed Sheeran,6.14,"January 30, 2017"
6.,"""See You Again""[22]",Wiz Khalifa,6.09,"April 6, 2015"
7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.71,"May 24, 2018"
8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.57,"March 6, 2014"
9.,"""Uptown Funk""[29]",Mark Ronson,5.09,"November 19, 2014"
10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.01,"February 27, 2018"
11.,"""Gangnam Style""[31]",officialpsy,4.96,"July 15, 2012"
12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.57,"January 31, 2012"
13.,"""Dame Tu Cosita""[37]",Ultra Records,4.48,"April 5, 2018"
14.,"""Axel F""[38]",Crazy Frog,4.16,"June 16, 2009"
15.,"""Sugar""[39]",Maroon 5,3.97,"January 14, 2015"
16.,"""Counting Stars""[40]",OneRepublic,3.92,"May 31, 2013"
17.,"""Roar""[41]",Katy Perry,3.91,"September 5, 2013"
18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.84,"June 25, 2018"
19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.78,"June 4, 2010"
20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.76,"June 14, 2018"
21.,"""Sorry""[45]",Justin Bieber,3.74,"October 22, 2015"
22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.69,"October 7, 2014"
23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.63,"January 26, 2018"
24.,"""Dark Horse""[48]",Katy Perry,3.63,"February 20, 2014"
25.,"""Perfect""[49]",Ed Sheeran,3.60,"November 9, 2017"
26.,"""Let Her Go""[50]",Passenger,3.56,"July 25, 2012"
27.,"""Faded""[51]",Alan Walker,3.55,"December 3, 2015"
28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,3.54,"May 10, 2011"
29.,"""Girls Like You""[53]",Maroon 5,3.52,"May 31, 2018"
30.,"""Lean On""[54]",Major Lazer Official,3.50,"March 22, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: \
A) Series \
B) Place \
C) Date \
D) Time \
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [134]:
# setting up the webdriver
driver=webdriver.Chrome()
# setting up the url
url="https://www.bcci.tv/"
driver.get(url)

# from homepage to india's international fixtures webpage

WebDriverWait(driver,4).until(EC.element_to_be_clickable((By.XPATH,"//div[@class='imw-tabs international-tabs']/a[2]"))).click()
WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH,"/html/body/section/div/div/div/div/div/div[2]/div[1]/div[2]/div/div[1]/div/div[1]"))).click()
WebDriverWait(driver,3).until(EC.element_to_be_clickable((By.XPATH,"/html/body/section/div/div/div/div/div/div[2]/div[1]/div[2]/div/div[1]/div/div[2]/div[11]"))).click()

time.sleep(2)

# Trying to display all the web element before scraping
try:
    while True:
        driver.execute_script("window.scrollBy(0,1200);")
        time.sleep(2)
        WebDriverWait(driver,3).until(EC.element_to_be_clickable((By.XPATH,"/html/body/section/div/div/div/div/div/div[2]/div[2]/div[2]/div/button"))).click()
        
except TimeoutException:
    print("Reached end of the page")       

# Scraping the data
tour=[]
place=[]
date=[]
match_time=[]

# Scraping web elements for tour name, venue, date and timing of the matchday
tour_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
place_tags=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]/span[1]')
date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')

for i in tour_tags:
    tour.append(i.text)
for i in place_tags:
    place.append(i.text)
for i in date_tags:
    date.append(i.text)
for i in time_tags:
    match_time.append(i.text)   

driver.close()

#Dataframe
df=pd.DataFrame({'Tour':tour,'Location':place,'Date':date,'Time':match_time})
df

Reached end of the page

,Tour,Location,Date,Time
0,AUSTRALIA TOUR OF INDIA 2023-24,"Barsapara Cricket Stadium,","28 NOVEMBER, 2023",7:00 PM IST
1,AUSTRALIA TOUR OF INDIA 2023-24,Shaheed Veer Narayan Singh International Crick...,"1 DECEMBER, 2023",7:00 PM IST
2,AUSTRALIA TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium,","3 DECEMBER, 2023",7:00 PM IST
3,INDIA TOUR OF SOUTH AFRICA 2023-24,"Kingsmead,","10 DECEMBER, 2023",9:30 PM IST
4,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park,","12 DECEMBER, 2023",9:30 PM IST
5,INDIA TOUR OF SOUTH AFRICA 2023-24,"The Wanderers Stadium,","14 DECEMBER, 2023",9:30 PM IST
6,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,"17 DECEMBER, 2023",2:00 PM IST
7,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park,","19 DECEMBER, 2023",2:00 PM IST
8,INDIA TOUR OF SOUTH AFRICA 2023-24,"Boland Park,","21 DECEMBER, 2023",2:00 PM IST
9,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park,","26 DECEMBER, 2023",1:30 PM IST
10,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands,","3 JANUARY, 2024",1:30 PM IST
11,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,","11 JANUARY, 2024",7:00 PM IST
12,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium,","14 JANUARY, 2024",7:00 PM IST
13,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium,","17 JANUARY, 2024",7:00 PM IST
14,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium,","25 JANUARY, 2024",9:30 AM IST
15,ENGLAND TOUR OF INDIA 2023-24,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,","2 FEBRUARY, 2024",9:30 AM IST
16,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium,","15 FEBRUARY, 2024",9:30 AM IST
17,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex,","23 FEBRUARY, 2024",9:30 AM IST
18,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium,","7 MARCH, 2024",9:30 AM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: \
A) Rank \
B) State \
C) GSDP(18-19)- at current prices \
D) GSDP(19-20)- at current prices \
E) Share(18-19) \
F) GDP($ billion)  
Note: - From statisticstimes home page you have to reach to economy page through code.

In [135]:
# setting up the webdriver
driver=webdriver.Chrome()
# setting up the url
url="https://www.statisticstimes.com/"
driver.get(url)

# Getting to GDP of indian states page

# 1.Economy drown-down list
WebDriverWait(driver,3).until(EC.element_to_be_clickable((By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button"))).click()

# 2.Selecting India
WebDriverWait(driver,2).until(EC.element_to_be_clickable((By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]"))).click()

# 3. Selecting link to GDP of Indian states
try:
    WebDriverWait(driver,2).until(EC.element_to_be_clickable((By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a"))).click()
except :
    driver.get('https://www.statisticstimes.com/economy/india/indian-states-gdp.php')   
    

# Scraping Data
rank=[]
state_name=[]
gsdp_18_19=[]
gsdp_19_20=[]
share_per=[]
gdp=[]

# Ranking
rank_tags=driver.find_elements(By.CLASS_NAME,'data1')
for i in rank_tags[:33]:
    rank.append(i.text)

# State Names
state_tags=driver.find_elements(By.CLASS_NAME,'name')
for i in state_tags[:33]:
    state_name.append(i.text)

# Gross State Domestic Product for year 2018-19 
gsdp_18_19_tags=driver.find_elements(By.XPATH,'//tr[@role="row"]/td[4]')
for i in gsdp_18_19_tags[:33]:
    gsdp_18_19.append(i.text)

# Gross State Domestic Product for year 2018-19 
gsdp_19_20_tags=driver.find_elements(By.XPATH,'//tr[@role="row"]/td[3]')
for i in gsdp_19_20_tags[:33]:
    gsdp_19_20.append(i.text)

# Share percentage
share_per_TAGS=driver.find_elements(By.XPATH,'//tr[@role="row"]/td[5]')
for i in share_per_TAGS[:33]:
    share_per.append(i.text)

# Gross Domenstic Product in Billion dollars unit
gdp_tags=driver.find_elements(By.XPATH,'//tr[@role="row"]/td[6]')
for i in gdp_tags[:33]:
    gdp.append(i.text)

driver.close()    

# Dataframe
df=pd.DataFrame({'Rank':rank,'State':state_name,'GSDP(18-19) at Current prices':gsdp_18_19,'GSDP(19-20) at Current prices':gsdp_19_20,"Share":share_per,'GDP($ Billion)':gdp})
df

,Rank,State,GSDP(18-19) at Current prices,GSDP(19-20) at Current prices,Share,GDP($ Billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: \
A) Repository title \
B) Repository description \
C) Contributors count \
D) Language used \
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [136]:
# setting up the webdriver
driver=webdriver.Chrome()
# setting up the url
url="https://github.com/"
driver.get(url)

# Clicking on Open source option
WebDriverWait(driver,2).until(EC.element_to_be_clickable((By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button"))).click()

# Clicking on Trending Repo
WebDriverWait(driver,1).until(EC.element_to_be_clickable((By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a"))).click()

time.sleep(1)

# Gathering the links
repo_title=[]
repo_description=[]
contri_count=[]
lang_used=[]
repo_url=[]


repo_url_tags=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in repo_url_tags:
    repo_url.append(i.get_attribute('href'))

time.sleep(2)

# Looping to URLs to scrap the data    
for i in repo_url:
    driver.get(i)    
    time.sleep(1)
    
    # Repository Name
    try:
        repo_title_tags=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/div/div[1]/div[1]/div/strong/a')
        repo_title.append(repo_title_tags.text)
        time.sleep(0.5)
    except:
        repo_title.append('-')

    # About section Repository 
    try:
        repo_description_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[1]/div/div/p')
        repo_description.append(repo_description_tag.text)
        time.sleep(0.5)
    except:
        repo_description.append('-')   

    # Number of Contibuters
    try:
        contri_count_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[5]/div/h2/a/span')
        contri_count.append(contri_count_tag.text)
        time.sleep(0.5)
    except:
        contri_count.append('-')   

    try:
        lang_used_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[6]/div/ul/li[1]/a/span[1]')
        lang_used.append(lang_used_tag.text)
    except:
        lang_used.append('-')    

driver.close()

# Dataframe
df=pd.DataFrame({'Repository Name':repo_title,'Description':repo_description,'Contributors Count':contri_count,'Language Used':lang_used})
df

,Repository Name,Description,Contributors Count,Language Used
0,multipleWindow3dScene,"A quick example of how one can ""synchronize"" a...",2,JavaScript
1,rags,"Build ChatGPT over your data, all with natural...",5,Python
2,roadster,2008-2012 Roadster Development and Diagnostic ...,-,-
3,Awesome-Black-Friday-Cyber-Monday,"Awesome deals on Black Friday: Apps, SaaS, Boo...",567,-
4,live,✯ 一个可直连访问的电视/广播图标库与相关工具项目 ✯ 🔕 永久免费 直连访问 完整开源 不...,-,-
5,clash-nyanpasu,Clash Nyanpasu!,26,TypeScript
6,GPTs,leaked prompts of GPTs,3,-
7,hot-tips,The code behind my hot tips,-,-
8,Fooocus,Focus on prompting and generating,-,-
9,app-ideas,A Collection of application ideas which can be...,68,-
10,starrocks,"StarRocks, a Linux Foundation project, is a ne...",293,Java
11,botlib,C Telegram bot framework,-,-
12,GitHub-Chinese-Top-Charts,🇨🇳 GitHub中文排行榜，各语言分设「软件 | 资料」榜单，精准定位中文好项目。各取所需...,-,-
13,1Panel,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,38,Go
14,chatgpt_system_prompt,store all agent's system prompt,3,Shell
15,generative-models,Generative Models by Stability AI,15,Python
16,Reactive-Resume,A one-of-a-kind resume builder that keeps your...,-,-
17,AI-For-Beginners,"12 Weeks, 24 Lessons, AI for All!",33,Jupyter Notebook
18,awesome-cpp,A curated list of awesome C++ (or C) framework...,381,-
19,Black-Friday-Deals,Black Friday Deals for macOS / iOS Software & ...,259,Swift
20,spring-boot,Spring Boot,"1,039",Java
21,windmill,Open-source developer platform to turn scripts...,57,JavaScript
22,Network-segmentation-cheat-sheet,Best practices for segmentation of the corpora...,-,-
23,TVBoxOSC,真的没有QQ群、QQ频道、论坛。打包分发注意开源协议，保留出处，不守规矩就不要搞。,11,Java
24,angular,Deliver web apps with confidence 🚀,-,-


5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: \
A) Song name \
B) Artist name \
C) Last week rank \
D) Peak rank \
E) Weeks on board \
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [163]:
# setting up the webdriver
driver=webdriver.Chrome()

try:
    # setting up the url
    url='https://www.billboard.com/'
    driver.get(url)
    
    time.sleep(2)
    
    # Clicking on CHARTS
    WebDriverWait(driver,5).until(EC.element_to_be_clickable((By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a"))).click()

    # Clicking on View chart (Billboard Hot 100)
    WebDriverWait(driver,5).until(EC.element_to_be_clickable((By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a"))).click()
except :
    driver.get('https://www.billboard.com/charts/hot-100/')

In [164]:
# scrapipng data
song_name=[]
artist_name=[]
rank_last_week=[]
peak_rank=[]
weeks_onboard=[]

song_tag=driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']/ul/li[4]/ul/li/h3")
for i in song_tag:
    song_name.append(i.text.strip())

time.sleep(2)

# scrapimg the row elements
row_element=[]
row_element_tag=driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']/ul/li[4]/ul/li/span")
for i in row_element_tag:
    row_element.append(i.text.strip())

# Artist Name
for i in row_element[0:400:4]:
    artist_name.append(i)

# Rank Last Week
for i in row_element[1:400:4]:
    rank_last_week.append(i)
    
# Peak Rank
for i in row_element[2:400:4]:
    peak_rank.append(i)
        
# Weeks on the chart
for i in row_element[3:400:4]:
    weeks_onboard.append(i)

driver.close()
            
# Dataframe
df=pd.DataFrame({"Song Name":song_name,'Artist':artist_name,'Last Week Rank':rank_last_week,'Peak Position':peak_rank,'Weeks On Chart':weeks_onboard})
df

,Song Name,Artist,Last Week Rank,Peak Position,Weeks On Chart
0,Cruel Summer,Taylor Swift,1,1,28
1,Lovin On Me,Jack Harlow,-,2,1
2,Paint The Town Red,Doja Cat,2,1,15
3,Snooze,SZA,4,2,49
4,Is It Over Now? (Taylor's Version) [From The V...,Taylor Swift,3,1,3
...,...,...,...,...,...
95,Mi Ex Tenia Razon,Karol G,91,22,13
96,Different 'Round Here,Riley Green Featuring Luke Combs,-,97,1
97,But I Got A Beer In My Hand,Luke Bryan,98,92,5
98,Better Than Ever,YoungBoy Never Broke Again & Rod Wave,-,99,1
99,Soak City (Do It),310babii,-,100,1

6. Scrape the details of Highest selling novels. \
A) Book name \
B) Author name \
C) Volumes sold \
D) Publisher \
E) Genre \
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [139]:
# setting up the webdriver
driver=webdriver.Chrome()
# setting up the url
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

# All row elements
row_element=[]
row_element_tag=driver.find_elements(By.CLASS_NAME,"left")
for i in row_element_tag:
    row_element.append(i.text)

driver.close()    

# Extract first 5 elements from the list for column names
column_names = row_element[:6]

# creating arrays with 6 concecutive elements
num_rows = len(row_element) // 6
reshaped_array = np.array(row_element[:num_rows * 6]).reshape(-1, 6)

# Dataframe
df = pd.DataFrame(reshaped_array, columns=column_names)

# Excluding the first row (Used as column name)
df=df.iloc[1:,:]
df.reset_index(drop=True,inplace=True)

# Desired Dataframe
df

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

 
7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: \
A) Name \
B) Year span \
C) Genre \
D) Run time \
E) Ratings \
F) Votes

In [140]:
# setting up the webdriver
driver=webdriver.Chrome()
# setting up the url
url="https://www.imdb.com/list/ls095964455/"
driver.get(url)

# Scraping the data
series_name=[]
year_span=[]
genre=[]
run_time=[]
rating=[]
vote=[]


# Series Name
series_name_tag=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
for i in series_name_tag:
    series_name.append(i.text)

# Years Series Ran
year_span_tag=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
for i in year_span_tag:
    year_span.append(i.text)   

# Genre
genre_tag=driver.find_elements(By.CLASS_NAME,"genre")    
for i in genre_tag:
    genre.append(i.text)

# Total runtime 
runtime_tag=driver.find_elements(By.CLASS_NAME,"runtime")
for i in runtime_tag:
    run_time.append(i.text)

# Ratings
rating_tag=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
for i in rating_tag:
    rating.append(i.text)

# Votes recieved 
vote_tag=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]')
for i in vote_tag:
    vote.append(i.get_attribute('data-value'))

driver.close()

# Dataframe
df=pd.DataFrame({'TV SHOW':series_name,'Year Span':year_span,'Genre':genre,'Runtime':run_time,'Ratings':rating,'Votes':vote})    
df

,TV SHOW,Year Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,2225932
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,1293041
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,1055974
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,310060
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,269173
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,53259
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,65350
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,213107
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,44366
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,277845

 
8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: \
A) Dataset name \
B) Data type \
C) Task \
D) Attribute type \
E) No of instances 
F) No of attribute 
G) Year \
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [142]:
# setting up the webdriver
driver=webdriver.Chrome()
# setting up the url
url="https://archive.ics.uci.edu/"
driver.get(url)

# Clicking on View Datasets
WebDriverWait(driver,2).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]'))).click()

time.sleep(2)

# Selecting max listings (25) per page
WebDriverWait(driver,2).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select/option[5]'))).click()

# Scraping Urls
data=[]
data_type=[]
task=[]
att_type=[]
no_of_instance=[]
no_of_att=[]
year=[]

time.sleep(2)

dataset_url=[]
url_tags=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
for i in url_tags:
    dataset_url.append(i.get_attribute('href'))

time.sleep(1)  

# Scraping the data using urls
for i in dataset_url:
    driver.get(i)
    time.sleep(2)

    # Dataset Name
    data_tag=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/div/h1')
    data.append(data_tag.text)

    # Type of Dataset
    data_type_tag=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p')
    data_type.append(data_type_tag.text)

    # Task needed to be done
    task_tag=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
    task.append(task_tag.text)

    # Feature Type
    att_type_tag=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
    att_type.append(att_type_tag.text)

    # No of Instances
    no_of_instance_tag=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
    no_of_instance.append(no_of_instance_tag.text)

    # No of Features
    no_of_att_tag=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
    no_of_att.append(no_of_att_tag.text)

    # Year the dataset was uploaded
    try:
        year_tag=driver.find_element(By.XPATH,"//h2[@class='text-sm text-primary-content']")
        year.append(year_tag.text.replace("Donated on ",""))
    except:
        year.append(np.nan)

driver.close()

# Dataframe  
df=pd.DataFrame(
    {
        "Dataset":data,
        "Type of Data":data_type,
        "Task":task,
        "Attribute Type":att_type,
        "No. Of Rows":no_of_instance,
        "No. of Columns":no_of_att,
        "Year Uploaded":year
    }
)
df

,Dataset,Type of Data,Task,Attribute Type,No. Of Rows,No. of Columns,Year Uploaded
0,Iris,Tabular,Classification,Real,150,4,6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,4/30/1996
3,Wine,Tabular,Classification,"Integer, Real",178,13,6/30/1991
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,10/31/1995
5,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,NaN
6,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,9/13/2020
7,Car Evaluation,Multivariate,Classification,Categorical,1728,6,5/31/1997
8,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,10/6/2009
9,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,10/5/2019
10,Mushroom,Multivariate,Classification,Categorical,8124,22,4/26/1987
11,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45211,16,2/13/2012
12,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4177,8,11/30/1995
13,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,4/30/1996
14,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1000,20,11/16/1994
15,Student Performance,Multivariate,"Classification, Regression",Integer,649,-,11/26/2014
16,Breast Cancer,Multivariate,Classification,Categorical,286,9,7/10/1988
17,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,25,5/18/1987
18,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398,7,7/6/1993
19,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,9,7/14/1992
20,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering","Integer, Real",541909,6,11/5/2015
21,Predict students' dropout and academic success,Tabular,Classification,-,4424,36,12/12/2021
22,Spambase,Multivariate,Classification,"Integer, Real",4601,57,6/30/1999
23,Glass Identification,Multivariate,Classification,Real,214,9,8/31/1987
24,Thyroid Disease,"Multivariate, Domain-Theory",Classification,"Categorical, Real",7200,5,12/31/1986