# **`Webscraping Assignment-1`**

In [1]:
%pip install bs4 pandas requests

Requirement already satisfied: bs4 in c:\users\reshma\appdata\local\programs\python\python312\lib\site-packages (0.0.1)
Requirement already satisfied: pandas in c:\users\reshma\appdata\local\programs\python\python312\lib\site-packages (2.1.1)
Requirement already satisfied: requests in c:\users\reshma\appdata\local\programs\python\python312\lib\site-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in c:\users\reshma\appdata\local\programs\python\python312\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\reshma\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\reshma\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\reshma\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\reshma\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\reshma\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\reshma\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\reshma\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\reshma\appdata\local\programs\python\python312\lib\site-packages (from requests) (2023.7.22)
Requirement already satisfied: six>=1.5 in c:\users\reshma\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\reshma\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### 1) Write a python program to display all the header tags from `wikipedia.org` and make data frame.

In [3]:
h=[]  #empty list to save the text scraped
def headers():
    url='https://en.wikipedia.org/wiki/Main_Page'
    resp=requests.get(url)
    print(resp)
    soup=BeautifulSoup(resp.content)

    header_tags=soup.find_all(['h1','h2','h3'])

    for i in header_tags:
      h.append(i.get_text())
    

headers()
df=pd.DataFrame({'headers':h})
print(df)

<Response [200]>
                          headers
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6      From today's featured list
7        Today's featured picture
8        Other areas of Wikipedia
9     Wikipedia's sister projects
10            Wikipedia languages

### 2) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from  and make data frame https://presidentofindia.nic.in/index.php/former-presidents

In [4]:
n=[] #empty list to save the text scraped
def former_presidents():
     url="https://presidentofindia.nic.in/index.php/former-presidents"
     resp=requests.get(url)
     print(resp)
     soup=BeautifulSoup(resp.content)
     name=soup.find_all('div',class_="desc-sec")

     for i in name:
         n.append(i.text)
     
former_presidents()

df=pd.DataFrame(n)

# Spliting the text  
df=df[0].str.split('\n',expand=True)

#Droping the columns
df.drop([0,3],axis=1,inplace=True)

#Renaming the columns
df=df.rename(columns={1:'Name',2:'Term of office'})

#Sorting the Dataframe in ascending order
df=df.sort_index(ascending=False)
df = df.reset_index(drop=True)

print(df)

<Response [200]>
                            Name           Term of office
0            Dr. Rajendra Prasad   1st President of India
1   Dr. Sarvepalli Radhakrishnan   2nd President of India
2               Dr. Zakir Husain   3rd President of India
3   Shri Varahagiri Venkata Giri   4th President of India
4       Dr. Fakhruddin Ali Ahmed   5th President of India
5      Shri Neelam Sanjiva Reddy   6th President of India
6               Giani Zail Singh   7th President of India
7            Shri R Venkataraman   8th President of India
8        Dr Shankar Dayal Sharma  9th  President of India
9           Shri K. R. Narayanan  10th President of India
10        DR. A.P.J. Abdul Kalam  11th President of India
11  Smt Pratibha Devisingh Patil  12th President of India
12         Shri Pranab Mukherjee  13th President of India
13          Shri Ram Nath Kovind  14th President of India

### 3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
a)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.\
b)Top 10 ODI Batsmen along with the records of their team andrating.\
c)Top 10 ODI bowlers along with the records of their team andrating.

https://www.icc-cricket.com/rankings/mens/team-rankings/odi

In [5]:
def men_team_ranking():
  
        url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
        resp = requests.get(url)
        print(resp)
        soup= BeautifulSoup(resp.content)


        Team=[]
        Matches=[]
        Points=[]
        Rating=[]
        Country = soup.find_all('span',class_="u-hide-phablet")
        for i in Country:
            Team.append(i.get_text().replace("\n",""))
            Team=Team[0:10]

        match=soup.find_all('td',class_='rankings-block__banner--matches')
        matchs=soup.find_all('td',class_='table-body__cell u-center-text')
        mtc = match + matchs

        for i in mtc:
            Matches.append(i.text)
            Matches=Matches[0:10]
            
        pt=soup.find_all('td',class_="rankings-block__banner--points")

        pts= soup.find_all('td',class_ ="table-body__cell u-center-text")
        Point= pt + pts
        for i in Point:
            Points.append(i.get_text().replace("\n",""))
            Points=Points[0:10]
        rating = soup.find_all('td',class_="table-body__cell u-text-right rating")
        for i in rating:
            Rating.append(i.get_text().replace("\n",""))
            Rating=Rating[0:10]
            
        df=pd.DataFrame({"Country":Team,"Matches":Matches,"Rating":Rating,"Points":Points})
        return  df
men_team_ranking()

<Response [200]>

        Country Matches Rating Points
0         India      49    112  5,839
1     Australia      36    110     36
2      Pakistan   4,015    109  4,015
3  South Africa      32    105     32
4   New Zealand   3,525     99  3,525
5       England      29     92     29
6     Sri Lanka   3,166     89  3,166
7    Bangladesh      38     83     38
8   Afghanistan   4,007     68  4,007
9   West Indies      34     55     34

In [7]:
# Top 10 ODI Batsmen along with the records of their team and rating.

def men_batter_ranking():
        url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
        resp = requests.get(url)
        print(resp)

        soup= BeautifulSoup(resp.text)

        Position =[]
        Player =[]
        Country =[]
        Rating =[]

        #top player data
        top_banner= soup.find('tr', attrs={'class':'rankings-block__banner'})

        Position.append(top_banner.find('td',class_='rankings-block__position').text)
        Player.append(top_banner.find('div', class_="rankings-block__banner--name-large").text) 
        Country.append(top_banner.find('span', class_='rankings-block__banner--nation').text)
        Rating.append(top_banner.find('div', class_="rankings-block__banner--rating").text)

        # Extracting other Player Ranking
        rows =soup.find_all('tr', attrs={'class':'table-body'})

        for row in rows[0:9]:
            Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
            Player.append(row.find('a').text)
            Country.append(row.find('span', class_='table-body__logo-text').text)
            Rating.append(row.find('td', class_='table-body__cell rating').text)
            
        # Storing data in Dataframe
        df=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

        return df
men_batter_ranking()

<Response [200]>

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Babar Azam,,829
1,2 ...,Shubman Gill,IND,823
2,3 ...,Quinton de Kock,SA,769
3,4 ...,Heinrich Klaasen,SA,756
4,5 ...,David Warner,AUS,747
5,= ...,Virat Kohli,IND,747
6,7 ...,Harry Tector,IRE,729
7,8 ...,Rohit Sharma,IND,725
8,9 ...,Rassie van der Dussen,SA,716
9,10 ...,Imam-ul-Haq,PAK,704

In [8]:
# Top 10 ODI bowlers along with the records of their team andrating.

def Men_bowler_ranking():
        url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
        resp = requests.get(url)
        print(resp)

        soup= BeautifulSoup(resp.text)

        Position =[]
        Player =[]
        Country =[]
        Rating =[]

        #top player data
        top_banner= soup.find('tr', attrs={'class':'rankings-block__banner'})

        Position.append(top_banner.find('td',class_='rankings-block__position').text)
        Player.append(top_banner.find('div', class_="rankings-block__banner--name-large").text) 
        Country.append(top_banner.find('span', class_='rankings-block__banner--nation').text)
        Rating.append(top_banner.find('div', class_="rankings-block__banner--rating").text)

        # Extracting other Player Ranking
        rows =soup.find_all('tr', attrs={'class':'table-body'})

        for row in rows[0:9]:
            Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
            Player.append(row.find('a').text)
            Country.append(row.find('span', class_='table-body__logo-text').text)
            Rating.append(row.find('td', class_='table-body__cell rating').text)
            
        # Storing data in Dataframe
        df=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

        return df
Men_bowler_ranking()

<Response [200]>

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Josh Hazlewood,,670
1,2 ...,Mohammed Siraj,IND,668
2,3 ...,Keshav Maharaj,SA,656
3,4 ...,Rashid Khan,AFG,654
4,5 ...,Trent Boult,NZ,653
5,6 ...,Mohammad Nabi,AFG,641
6,7 ...,Adam Zampa,AUS,635
7,8 ...,Matt Henry,NZ,634
8,9 ...,Kuldeep Yadav,IND,632
9,10 ...,Shaheen Afridi,PAK,625

### 4)Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
a)Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.\
b)Top 10 women’s ODI Batting players along with the records of their team and rating.\
c)Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [9]:


# Top 10 ODI teams in women’s cricket along with the records for matches, points and rating
def Women_odi_team_ranking():
    url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
    resp=requests.get(url)
    soup=BeautifulSoup(resp.content)
    table=soup.find('table',class_="table")
    headers=table.find_all("th")
    h=[]
    for i in headers:
        h.append(i.get_text(strip=True))

    df=pd.DataFrame(columns=h)

    rows = table.find_all("tr")
    for i in rows[1:11]:
        data=i.find_all('td')
        row=[tr.text for tr in data] 
        l=len(df)
        df.loc[l]=row

    for i in df["TeamT"]:
        i=i.replace("\n","")
    return df
Women_odi_team_ranking()

,Pos,TeamT,MatchesM,PointsP,RatingR
0,1,\n\nAustralia\nAUS\n,19,"3,084",\n 162\n ...
1,2,\n\nEngland\nENG\n,23,"2,991",130
2,3,\n\nSouth Africa\nSA\n,21,"2,446",116
3,4,\n\nIndia\nIND\n,18,"1,745",97
4,5,\n\nNew Zealand\nNZ\n,21,"2,014",96
5,6,\n\nWest Indies\nWI\n,18,"1,610",89
6,7,\n\nSri Lanka\nSL\n,9,714,79
7,8,\n\nBangladesh\nBAN\n,11,816,74
8,9,\n\nThailand\nTHA\n,11,753,68
9,10,\n\nPakistan\nPAK\n,21,"1,435",68

In [10]:
# Top 10 women’s ODI Batting players along with the records of their team and rating.

def women_batter_ranking():
        url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
        resp = requests.get(url)
        print(resp)

        soup= BeautifulSoup(resp.text)

        Position =[]
        Player =[]
        Country =[]
        Rating =[]

        #top player data
        top_banner= soup.find('tr', attrs={'class':'rankings-block__banner'})

        Position.append(top_banner.find('td',class_='rankings-block__position').text)
        Player.append(top_banner.find('div', class_="rankings-block__banner--name-large").text) 
        Country.append(top_banner.find('span', class_='rankings-block__banner--nation').text)
        Rating.append(top_banner.find('div', class_="rankings-block__banner--rating").text)

        # Extracting other Player Ranking
        rows =soup.find_all('tr', attrs={'class':'table-body'})

        for row in rows[0:9]:
            Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
            Player.append(row.find('a').text)
            Country.append(row.find('span', class_='table-body__logo-text').text)
            Rating.append(row.find('td', class_='table-body__cell rating').text)
            
        # Storing data in Dataframe
        df=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

        return df
women_batter_ranking()

<Response [200]>

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Natalie Sciver-Brunt,,807
1,2 ...,Beth Mooney,AUS,750
2,3 ...,Chamari Athapaththu,SL,736
3,4 ...,Laura Wolvaardt,SA,727
4,5 ...,Smriti Mandhana,IND,708
5,6 ...,Alyssa Healy,AUS,698
6,7 ...,Ellyse Perry,AUS,697
7,8 ...,Harmanpreet Kaur,IND,694
8,9 ...,Meg Lanning,AUS,662
9,10 ...,Marizanne Kapp,SA,642

In [11]:
# Top 10 women’s ODI all-rounder along with the records of their team and rating

def women_odi_allrounder():
        url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
        resp = requests.get(url)
        print(resp)

        soup= BeautifulSoup(resp.text)

        Position =[]
        Player =[]
        Country =[]
        Rating =[]

        #top player data
        top_banner= soup.find('tr', attrs={'class':'rankings-block__banner'})

        Position.append(top_banner.find('td',class_='rankings-block__position').text)
        Player.append(top_banner.find('div', class_="rankings-block__banner--name-large").text) 
        Country.append(top_banner.find('span', class_='rankings-block__banner--nation').text)
        Rating.append(top_banner.find('div', class_="rankings-block__banner--rating").text)

        # Extracting other Player Ranking
        rows =soup.find_all('tr', attrs={'class':'table-body'})

        for row in rows[0:9]:
            Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
            Player.append(row.find('a').text)
            Country.append(row.find('span', class_='table-body__logo-text').text)
            Rating.append(row.find('td', class_='table-body__cell rating').text)
            
        # Storing data in Dataframe
        df=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

        return df
women_odi_allrounder()

<Response [200]>

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Marizanne Kapp,,385
1,2 ...,Ashleigh Gardner,AUS,377
2,3 ...,Natalie Sciver-Brunt,ENG,360
3,4 ...,Hayley Matthews,WI,358
4,5 ...,Amelia Kerr,NZ,346
5,6 ...,Deepti Sharma,IND,312
6,7 ...,Ellyse Perry,AUS,282
7,8 ...,Jess Jonassen,AUS,227
8,= ...,Sophie Devine,NZ,227
9,10 ...,Nida Dar,PAK,224


### 5)Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-
i)Headline\
ii)Time\
iii)News Link

In [12]:
def news():
        url = "https://www.cnbc.com/world/?region=world"
        resp = requests.get(url)
        soup = BeautifulSoup(resp.text)
        articles = soup.find_all("div", class_="Card-titleContainer")


        headlines = []
        times = []
        links = []


        for article in articles:
            headline_elem = article.find("a")
            time_elem = article.find("time")
            
            if headline_elem :
                headline = headline_elem.get_text(strip=True)
            else:
                headline = ""
            
            if time_elem :
                time = time_elem.get_text(strip=True)
            else:
                time = ""
            
            link = article.find("a")["href"]
            
            headlines.append(headline)
            times.append(time)
            links.append(link)


        df = pd.DataFrame({"Headline": headlines,"Time": times,"News Link": links})

        return df
news()

,Headline,Time,News Link
0,"Stocks making the biggest moves midday: SoFi, ...",,https://www.cnbc.com/2023/10/30/stocks-making-...
1,"Stocks are rallying to start the week, with th...",,https://www.cnbc.com/2023/10/29/stock-market-t...
2,Treasury yields rise as investors look to Fed ...,,https://www.cnbc.com/2023/10/30/us-treasurys-i...
3,Moscow claims the West is attempting to 'split...,,https://www.cnbc.com/2023/10/30/ukraine-war-li...
4,G7 calls for immediate repeal of bans on Japan...,,https://www.cnbc.com/2023/10/30/g7-calls-for-i...
5,Israel-Hamas war is affecting the financial ou...,,https://www.cnbc.com/2023/10/28/israel-hamas-w...
6,A new hope for Ukraine aid in Washington,,https://www.cnbc.com/2023/10/27/a-new-hope-for...
7,Russia's obsession with Ukraine has weakened i...,,https://www.cnbc.com/2023/10/26/russias-influe...
8,Volvo Cars CEO strikes cautious tone on solid-...,,https://www.cnbc.com/2023/10/27/volvo-cars-ceo...
9,"Peak fossil fuel demand is coming, IEA chief B...",,https://www.cnbc.com/2023/10/27/peak-fossil-fu...
10,"Global demand for oil, coal and gas set to pea...",,https://www.cnbc.com/2023/10/24/demand-for-fos...
11,America’s first major offshore wind farm insta...,,https://www.cnbc.com/2023/10/19/americas-first...
12,The world's largest offshore wind farm produce...,,https://www.cnbc.com/2023/10/09/the-worlds-lar...
13,Vietnam is at the 'leading edge' of AI develop...,,https://www.cnbc.com/video/2023/10/30/vietnam-...
14,The Israel-Hamas war hasn't affected Thai Airw...,,https://www.cnbc.com/video/2023/10/23/the-isra...
15,Southeast Asia looks to renewable power for en...,,https://www.cnbc.com/2023/10/17/southeast-asia...
16,What Thailand's new coalition government means...,,https://www.cnbc.com/2023/10/10/what-thailands...
17,Southeast Asia is set to drive up demand for g...,,https://www.cnbc.com/2023/10/03/southeast-asia...
18,Is your hotel sustainable? Not if these two th...,,https://www.cnbc.com/2023/10/30/is-your-hotel-...
19,The best places — and best times — to take a s...,,https://www.cnbc.com/2023/10/25/the-best-place...
20,"Revenge travel is over — even in China, says C...",,https://www.cnbc.com/2023/10/24/revenge-travel...
21,He visited every country in the world — withou...,,https://www.cnbc.com/2023/10/19/44-year-old-tr...
22,These are the world's 50 best bars in 2023 — a...,,https://www.cnbc.com/2023/10/18/what-are-the-5...
23,21-year-old spent $300 to start his sticker si...,,https://www.cnbc.com/2023/10/30/how-sticker-si...
24,Why this financial coach tells clients to budg...,,https://www.cnbc.com/2023/10/30/why-this-finan...
25,McDonald's HR exec: The No. 1 skill you get wo...,,https://www.cnbc.com/2023/10/29/mcdonalds-hr-e...
26,The top 10 best states for millennials—New Yor...,,https://www.cnbc.com/2023/10/29/best-states-mi...
27,The No. 1 most ‘overlooked’ skill kids with hi...,,https://www.cnbc.com/2023/10/29/kids-with-high...

### 6)Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame-
i)Paper Title\
ii)Authors\
iii)Published Date\
iv)Paper URL

In [13]:
# https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
def research_papers():
    url=input("Enter the URL")
    resp=requests.get(url)
    print(resp)
    soup = BeautifulSoup(resp.text)


    titles = []
    authors = []
    published_dates = []
    paper_urls = []

    for i in soup.find_all("a",class_="sc-5smygv-0 fIXTHm"):
        titles.append(i.text)

    for i in soup.find_all("span",class_="sc-1w3fpd7-0 dnCnAO"):
        authors.append(i.text)
    
    for i in soup.find_all("span",class_="sc-1thf9ly-2 dvggWt"):
        published_dates.append(i.text)

    for i in soup.find_all("a",class_="sc-5smygv-0 fIXTHm"):
        if "href" in i.attrs:
            paper_urls.append(i["href"])

    df = pd.DataFrame({"Paper Title": titles,"Authors": authors,"Published Date": published_dates,"Paper URL": paper_urls})

    return df

research_papers()

<Response [200]>

Empty DataFrame
Columns: [Paper Title, Authors, Published Date, Paper URL]
Index: []

7)Write a python program to scrape mentioned details from dineout.co.in and make data frame-\
i)Restaurant name\
ii)Cuisine\
iii)Location\
iv)Ratings\
v)Image URL

In [14]:


def res_info():
    url="https://www.dineout.co.in/kochi-restaurants"
    resp=requests.get(url)
    print(resp)
    soup=BeautifulSoup(resp.content)

    n=[] # Names
    for i in soup.find_all("a",class_="restnt-name ellipsis"):
        n.append(i.text)

    c=[] #cuisine
    for i in soup.find_all("span",class_="double-line-ellipsis"):
        c.append(i.text)

    # Remove text before "|"

    new_c=[]
    for i in c:
        new_c.append(i.split('|', 1)[1].strip())
        

    l=[] #location
    for i in soup.find_all("div",class_="restnt-loc ellipsis"):
        l.append(i.text)

    r=[] #ratings
    for i in soup.find_all("div",class_="restnt-rating")[0:21]:
        r.append(i.text)



    img=[] #images
    for i in soup.find_all('img',class_='no-img'):
        img.append(i['data-src'])
    

    df=pd.DataFrame({"Restaurant Name":n,"Cuisine":new_c,"Location":l,"Ratings":r,"Image":img})
   
    return df

res_info()

<Response [200]>

,Restaurant Name,Cuisine,Location,Ratings,Image
0,Cafe Watheen,"Fast Food, Chinese, North Indian, Beverages","Kaloor, North Kochi",2.2,https://im1.dineout.co.in/images/uploads/resta...
1,Miam,"North Indian, Italian, Chinese, Continental","Kacheripadi, North Kochi",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,Coral Reef,"North Indian, Chinese, Continental, Kerala","Coral Isle Hotel,Kacheripadi, North Kochi",4.4,https://im1.dineout.co.in/images/uploads/resta...
3,Hoy Punjab,"North Indian, Chinese, Beverages","Kacheripadi, North Kochi",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Liquid State,Finger Food,"Kacheripadi, North Kochi",3.7,https://im1.dineout.co.in/images/uploads/resta...
5,Dosa World,"South Indian, Beverages","Kacheripadi, North Kochi",4.3,https://im1.dineout.co.in/images/uploads/resta...
6,Burgeria,Fast Food,"Kaloor, North Kochi",4.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Hotspot,"Arabian, North Indian, Chinese, Middle Eastern...","Kadavanthra, South Kochi",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,City View,"Chinese, Kerala, North Indian","Kacheripadi, North Kochi",4,https://im1.dineout.co.in/images/uploads/resta...
9,Cake Hut,Desserts,"Kaloor, North Kochi",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,City View Lounge,"North Indian, South Indian, Continental","Kacheripadi, North Kochi",3.4,https://im1.dineout.co.in/images/uploads/resta...
11,Coq D'or,"North Indian, Fast Food","The International Hotel,MG Road, North Kochi",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,The Grill Lab,"Continental, Fast Food, Burger, Desserts, Beve...","Palarivattom, East Kochi",3.8,https://im1.dineout.co.in/images/uploads/resta...
13,Barbeque Nation,"North Indian, Continental, Chinese, Beverages,...","Kacheripadi, North Kochi",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,North18,"North Indian, Kerala","Coral Isle Hotel,Kacheripadi, North Kochi",4.6,https://im1.dineout.co.in/images/uploads/resta...
15,Zaatar Arabic Restaurant,"Arabian, Continental","Palarivattom, East Kochi",4.3,https://im1.dineout.co.in/images/uploads/resta...
16,Cassa Luciya,"Continental, Italian, Beverages","Palarivattom, East Kochi",3.1,https://im1.dineout.co.in/images/uploads/resta...
17,Coffee Lounge,"Beverages, Desserts","Centre Square Mall,MG Road, North Kochi",4.3,https://im1.dineout.co.in/images/uploads/resta...
18,Thaal Kitchen,"Kerala, North Indian, Chinese, Arabian","Kakkanad, East Kochi",4.4,https://im1.dineout.co.in/images/uploads/resta...
19,La Pino'z Pizza,Italian,"Elamkulam, South Kochi",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,Spirited Eleven - The Sports Bar,"North Indian, Chinese, Continental, Desserts","Monsoon Empress,Palarivattom, East Kochi",3,https://im1.dineout.co.in/images/uploads/resta...